extends layout

block content
	.container-fluid
		h1 FSE Chat Room
		ul#messages
		form#sendButton
			input#m(autocomplete='off', placeholder='Type your message here...')
			button Send
		footer 2015 Created by Hywel Wong.
